* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 70%;
    background-color: rgb(10, 10, 54);
}

a {
    text-decoration: none;
    color: rgba(0, 103, 244, 1);
}

.login-form{
}

.image-container .logo{
    align-self: center;
}

.image-container {
    height: 40%;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right, rgba(0, 103, 244, .7), rgba(0, 103, 244, .7)), url(../Img/unsplash_CdW4DAF5i7Q.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    height: 100vh;
    border-radius: 20 20px 0 0;
    /* background-color:rgba(0, 103, 244, 1); */
    padding: 1rem 0;
    align-content: center;
    max-width: 300px;
    margin: auto;
}

form {
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 100%;
    min-height: 55%;
    padding: 1rem;
}

#cta {
    padding: .8rem;
    border-radius: 5px;
    background-color: rgba(0, 103, 244, 1);
    font-size: .7rem;
    color: #fff;
}

.cta1 {
    margin: .8rem 0 0 4rem;
    border: none;
    margin-top: 2rem;
}

input {
    border: none;
    border-bottom: 1.5px solid rgb(197, 195, 195);
    height: 1.5rem;
    width: 15rem;
}

label {
    color: rgba(0, 103, 244, 1);
}

h1 {
    margin-bottom: 1rem;
    color: rgb(53, 51, 51);
}

p {
    text-align: center;
    margin-top: 1.5rem;
    color: #000;
}

p a {
    text-decoration: underline;
}


/*  */

#btn2{
    padding: .8rem;
    border-radius: 5px;
    background-color: rgba(0, 103, 244, 1);
    font-size: .7rem;
    color: #fff;
}

button {
    margin: .8rem 0 0 5rem;
    border: none;
    margin-top: 2rem;
}

.image-container2 {
    border-radius: 20px 20px 0 0;
    height: 60%;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right, rgba(0, 103, 244, .7), rgba(0, 103, 244, .7)), url(../Img/unsplash_CdW4DAF5i7Q.png);
}

.image-container2 .logo{
    margin-left: 95px;
    margin-top: 69px;
}

/* Usage */
.user{
    border-radius: 20px;
    background-color: rgb(0, 103, 244);
    height: 550px;
    width: 294px;
}

.user-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-flex-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}